# Wikipedia

In [77]:
import pandas as pd

In [181]:
wiki = pd.read_csv("/home/tushit/Minor Project 2/datasets/wikipedia2/train.csv")

In [182]:
print(wiki.shape)
wiki.head()

(159571, 8)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [183]:
 wiki[wiki['id']=='a91cec4f7a90ee63']

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
63190,a91cec4f7a90ee63,=why are you being so rude? i only want to hel...,1,0,1,1,1,1

In [184]:
x = wiki[(wiki['identity_hate']==1) | (wiki['toxic']==1) | (wiki['severe_toxic']==1) | (wiki['obscene']==1) | (wiki['threat']==1) | (wiki['insult']==1)]
x.shape

(16225, 8)

In [185]:
print('toxic',wiki[(wiki['toxic']==1)].shape[0])
print('severe_toxic',wiki[(wiki['severe_toxic']==1)].shape[0])
print('obscene',wiki[(wiki['obscene']==1)].shape[0])
print('threat',wiki[(wiki['threat']==1)].shape[0])
print('insult',wiki[(wiki['insult']==1)].shape[0])
print('identity_hate',wiki[(wiki['identity_hate']==1)].shape[0])

toxic 15294
severe_toxic 1595
obscene 8449
threat 478
insult 7877
identity_hate 1405

In [186]:
toxic = wiki[(wiki['toxic']==1)]
non_toxic = wiki[(wiki['identity_hate']==0) & (wiki['toxic']==0) & (wiki['severe_toxic']==0) & (wiki['obscene']==0) & (wiki['threat']==0) & (wiki['insult']==0)]

In [187]:
x = toxic.sample(frac=0.2).reset_index(drop=True)
x.shape

(3059, 8)

In [188]:
y = non_toxic.sample(frac=0.05).reset_index(drop=True)
y.shape

(7167, 8)

In [189]:
final = pd.concat([x, y], ignore_index=True)
final = final.iloc[:,:3]

In [190]:
from sklearn.utils import shuffle
final = shuffle(final)
final.reset_index(inplace=True, drop=True)

In [193]:
final = final[final['comment_text'].notna()]

In [194]:
final.columns=['id','text','label']

,id,text,label
0,4873f24af8928f39,Oh BedWetter... please stop your furious back-...,1
4,2c103909d79f9876,"""==Talk:""""Lane Splitting""""==\n\nDennis, why do...",1
11,73dc94f2fd4edfb0,"I didn't vandalize your user page, idiot.",1
14,25537b1b67acaa4c,"Not so great, some chump thought i shouldnt po...",1
15,c17491f4cd5b326d,Ricky81682 (talk) MUST be investigated right ...,1
...,...,...,...
10217,c23791a01041e053,"""\n\nTHIS IS MY REPLY TO YOU THAT YOU HAVE DEL...",1
10218,604be31ed7b20432,I DOn't care what you say dickface \n\nFuck Yo...,1
10220,81f895fffbe0da6d,Ah. And you decide which speech is acceptable ...,1
10222,23821bd0eef9c1c2,Wikipyou are a homo.net/gay/edia,1
10224,48bef8ae30c15800,"""\nYour donation will fund Wikia, Inc., which ...",1

In [201]:
final.to_excel('wiki.xlsx',index=False)

# Quora

In [121]:
quora = pd.read_csv("/home/tushit/Minor Project 2/datasets/quora/train.csv")

In [123]:
print(quora.shape)
quora.head()

(1306122, 3)

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [126]:
toxic = quora[quora['target']==1]
toxic.shape

(80810, 3)

In [128]:
non_toxic = quora[quora['target']==0]
non_toxic.shape

(1225312, 3)

In [132]:
x = toxic.sample(frac=0.05).reset_index(drop=True)
x.shape

(4040, 3)

In [138]:
y = non_toxic.sample(frac=0.008).reset_index(drop=True)
y.shape

(9802, 3)

In [141]:
final = pd.concat([x, y], ignore_index=True)

In [142]:
from sklearn.utils import shuffle
final = shuffle(final)
final.reset_index(inplace=True, drop=True)

In [144]:
#final.to_excel('quora.xlsx',index=False)

# cleaning missing values

In [203]:
wiki = pd.read_excel('wiki.xlsx')

In [208]:
wiki.shape

(10204, 3)

In [173]:
wiki = wiki[wiki['text'].notna()]

In [177]:
wiki.reset_index(inplace=True,drop=True)

In [207]:
wiki = wiki[wiki['text']!=0]

In [209]:
wiki.to_excel('wiki.xlsx',index=False)

In [210]:
quora = pd.read_excel('quora.xlsx')

In [211]:
quora.shape

(13842, 3)

In [213]:
quora[quora['text'].isna()]

Empty DataFrame
Columns: [qid, text, label]
Index: []

In [215]:
quora = quora[quora['text'].notna()]

In [217]:
quora[quora['text']==0]

Empty DataFrame
Columns: [qid, text, label]
Index: []